<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.myproject.estore.mapper.CartMapper">
 	
 	<insert id="cInsert" parameterType="com.myproject.estore.dto.CartDTO">
 		insert into cart(pnum, userid, pname, price, count, sid)
 		values(#{pnum}, #{userid}, #{pname}, #{price}, #{count}, #{sid} )
 	</insert>

	<resultMap type="com.myproject.estore.dto.CartDTO" id="cart">
		<result property="cnum" column="cnum" />
		<result property="pnum" column="pnum" />
		<result property="userid" column="userid" />
		<result property="pname" column="pname" />
		<result property="price" column="price" />
		<result property="count" column="count" />
		<result property="sum" column="sum" />
	</resultMap>
	
	<resultMap type="com.myproject.estore.dto.ProductDTO" id="product">
		<id property="pnum" column="pnum" />
		<result property="pimg" column="pimg" />
	</resultMap>
	
	<select id="cList" resultMap="cart">
		select c.cnum, c.pnum, c.userid, c.pname, c.price, c.count, c.price*c.count sum, p.pimg
		from cart c join product p on
		c.pnum=p.pnum
		where userid=#{userid}
	</select>
 	
 	<delete id="cDelete" parameterType="long">
 		delete cart from cnum=#{cnum}
 	</delete>
 </mapper>